# Copy this file to .env and replace placeholder values.

# Docker services
POSTGRES_USER=buslink_user
POSTGRES_PASSWORD=change_this_password
POSTGRES_DB=uce_buslink_db
POSTGRES_PORT=5432

REDIS_PORT=6379

# Backend app
SPRING_PROFILES_ACTIVE=dev
APP_NAME=uce-buslink-backend
SERVER_PORT=8080
WEB_APPLICATION_TYPE=reactive

DB_URL=jdbc:postgresql://uce-buslink-db:5432/uce_buslink_db
DB_USERNAME=buslink_user
DB_PASSWORD=change_this_password
DB_DRIVER=org.postgresql.Driver

JPA_DIALECT=org.hibernate.dialect.PostgreSQLDialect
HIBERNATE_DDL_AUTO=validate
JPA_SHOW_SQL=true
HIBERNATE_FORMAT_SQL=true

REDIS_HOST=uce-buslink-redis
REDIS_PASSWORD=

FLYWAY_ENABLED=true
FLYWAY_LOCATIONS=classpath:db/migration
FLYWAY_VALIDATE=true
FLYWAY_BASELINE=true
